@charset "UTF-8"; 
h1{
    font-size: 1.75em;
}
h1 span{
    font-size: 5em;
}
h2{
    font-size: 1.25em;
}
p{
    font-size: 0.8em;
}
count1{
    font-size: 0.8em;
    font-weight: bold;
}
li{
    font-size: 0.8em;
}
body{
    background-color:#fffacd;
    background-image: url(img.jpg);
}
