@charset "UTF-8"; 
h1{
    font-size: 3em;
}
h1 span{
    font-size: 5em;
}
count1{
    font-size: 2em;
    font-weight: bold;
}
p.count2{
    font-size: 2em;
}
li{
    font-size: 0.8em;
    width: 400px; height: 50px;
    color:#FFFFFF;
    background-color:#F2F2F2;
}
body{
    background-color:#fffacd;
    background-image: url("IMG_0023.JPG");
    background-repeat: repeat-x;
}
